## Preparation

1. Install MySQL and MySQL connector for Python if your dev machine doesn't have them.
1. Start MySQL server on your computer. 
1. Create a new empty database. 
1. Create a new table:
    ```sql
    CREATE TABLE `search_results` (
      `snippet` text CHARACTER SET utf8mb4 NOT NULL,
      `link` text CHARACTER SET utf8mb4 NOT NULL,
      `title` text CHARACTER SET utf8mb4 NOT NULL,
      `city` text CHARACTER SET utf8mb4 NOT NULL
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
    ```

## Challenge

Leveraging from the function you wrote in Q2, make a series of requests to the Custom Search API using the following search queries: **"madrid", "barcelona", "berlin", "paris", "miami", "mexico", "amsterdam", and "sÃ£o paulo"**. These are the global Ironhack campuses that have opened or will open soon. 

Your task is to **store up to 100 search results for each search query above into the database tables**. You need to design the structure of the MySQL tables according to the JSON data structure from the API. Then save the search results into the `search_results` table.

*Note that the Google Custom Search API only returns 10 results max in each query. So you need to iterate in your code in making requests with different `start` parameter (e.g., `1`, `11`, `21`, `31`, etc.) in order to retrieve up to 100 search results.*

For the Google Custom Search API reference, see: https://developers.google.com/custom-search/json-api/v1/reference/cse/list

Provide your code in the cell below.

## import

In [1]:
import mysql.connector
import requests
import json

## setup DB and TABLES

In [3]:
DB_NAME = 'iron_hack'
TABLES = {
    'employees': (
        "CREATE TABLE `search_results` ("
        "  `snippet` text CHARACTER SET utf8mb4 NOT NULL,"
        "  `link` text CHARACTER SET utf8mb4 NOT NULL,"
        "  `title` text CHARACTER SET utf8mb4 NOT NULL,"
        "  `city` text CHARACTER SET utf8mb4 NOT NULL"
        ") ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;")
}

cnx = mysql.connector.connect(user='root', password='testtest', host='localhost')
cursor = cnx.cursor()

def create_database(cursor):
    try:
        cursor.execute("CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(DB_NAME))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

try:
    cursor.execute("USE {}".format(DB_NAME))
except mysql.connector.Error as err:
    print("Database {} does not exists.".format(DB_NAME))
    if err.errno == mysql.connector.errorcode.ER_BAD_DB_ERROR:
        create_database(cursor)
        print("Database {} created successfully.".format(DB_NAME))
        cnx.database = DB_NAME
    else:
        print(err)
        exit(1)

for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

cursor.close()
cnx.close()

InterfaceError: 2026 (HY000): SSL connection error: SSL_CTX_set_tmp_dh failed

## query google api and save in DB

In [4]:
search_queries = ["madrid", "barcelona", "berlin", "paris", "miami", "mexico", "amsterdam", "sÃ£o paulo"]

def call_google_api(q, start, 
                    key="AIzaSyDeDEXWk7bq0r0GYzz-Pmc6dWqRGVxJ2Zc", 
                    cx="003240156206868727193:scrr7eqktoy",
                    fields="kind,items(title,link,snippet),queries(request(title,totalResults,count,startIndex))"):
    params = {"key": key, "cx": cx, "fields": fields, "q": q, "start": start}
    r = requests.get("https://www.googleapis.com/customsearch/v1?", params=params)
    print('status_code:', r.status_code)
    return json.loads(r.text)

In [5]:
cnx = mysql.connector.connect(user='root', database='iron_hack', password='testtest')
cursor = cnx.cursor()

add_search_results = ("INSERT INTO search_results "
                      "(snippet, link, title, city) "
                      "VALUES (%s, %s, %s, %s)")

for city in search_queries:
    print(city)
    index = 1
    while index < 100:
        request = call_google_api(city, index)
        headers = request['queries']['request'][0]
        if int(headers['totalResults']) < 1:
            break

        for item in request['items']:
            data_search_results = (item['snippet'], item['link'], item['title'], city)
            cursor.execute(add_search_results, data_search_results)
            cnx.commit()

        print(index)
        index += headers['count']

cursor.close()
cnx.close()

madrid
status_code: 200
1
status_code: 200
11
status_code: 200
21
status_code: 200
31
status_code: 200
41
status_code: 200
51
status_code: 200
61
status_code: 200
71
status_code: 200
81
status_code: 200
91
barcelona
status_code: 200
1
status_code: 200
11
status_code: 200
21
status_code: 200
31
status_code: 200
41
status_code: 200
51
status_code: 200
61
status_code: 200
71
status_code: 200
81
status_code: 200
91
berlin
status_code: 200
1
status_code: 200
11
status_code: 200
paris
status_code: 200
1
status_code: 200
11
status_code: 200
21
status_code: 200
miami
status_code: 200
1
status_code: 200
11
status_code: 200
21
status_code: 200
31
status_code: 200
41
status_code: 200
51
status_code: 200
61
status_code: 200
71
status_code: 200
81
status_code: 200
91
mexico
status_code: 200
1
status_code: 200
11
status_code: 200
21
status_code: 200
amsterdam
status_code: 200
1
status_code: 200
sÃ£o paulo
status_code: 200
1
status_code: 200